* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* Set Background Color  */

.bg_color_blue{ background-color: #0084fd;}
.bg_color_violet{ background-color: #9792e4; }
.bg_color_black { background-color: #333333; }