/************************************ Reset html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/************************************ Set Background Color  */

.bg_color_blue{ background-color: #0084fd;}
.bg_color_violet{ background-color: #9792e4; }
.bg_color_black { background-color: #333333; }
.bg_color_white { background-color: #ffffff; }
.color_white { color: #ffffff;  }

/************************************  Utility  */
.flex{ display: flex; }
.row{ flex-direction: row;}
.wrap{ flex-wrap: wrap;}
.vedi {border: 1px dashed red;}
/************************************ /Utility  */
img{ max-width: 100%;}

.button{
    border-radius: 25px;
    padding: 10px 15px;
    font-weight: 200;
}

/* Height-Temporarily  */
    section{
        /* height: 400px; */
    }

    footer{
        height: 300px;
    }
/* /Temporarily  */

.container-header{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

}

/* Header */
.header {
    position: fixed;
    width: 100%;
    top: 0px;
}

header .img_container, header .hamburger{
    padding: 10px 0px;
}

.hamburger{
    color: #ffffff;
    display: none;
}

.header-right{
    column-gap: 50px;
    align-items: center;
}

.header-right a{
    text-decoration: none;
    color: #ffffff;
}

.header-right .button a{
    color: #000000;
}
/* /Header */

/* Section 1 */
.sez1 .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    column-gap: 20px;
    row-gap: 20px;
    flex-direction: row;
}
.sez1{
    margin-top: 65px;
}
.sez1 .card{
    background-color: #b5ddff;
    border-radius: 25px;
    width: calc(100% / 3 - 14px);
    height: 250px; /* da togliere successivamente */
    padding: 20px;
}
.sez1 .card:first-child{
    width: calc(100% / 3 * 2 - 6px);
}

/* /Section 1 */

/* Section 2 */
.sez2 .container{
    max-width: 850px;
    margin: 0 auto;
    padding: 30px 20px;
    column-gap: 20px;
    row-gap: 20px;
    flex-direction: row;
}
.sez2 .card{
    width: calc(100% / 2);
}
/* /Section 2 */

/* Section 3 */
.sez3 .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    row-gap: 20px;
    flex-direction: column;
}

/* /Section 3 */

/* tablet, mobile, desktop res: 768px 480px desktop 1200px */

@media screen and (max-width: 768px) {
    /* Header */
    .header-right{
        display: none;
    }
    header .hamburger{
        display: block;
    }
    /* Section-2 */
    .sez2 .container{
        flex-direction: column;
    }
    .sez2 .card{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .sez1 .container{
        flex-direction: column;
    }
    .sez1 .card:first-child {
        width: 100%;
    }
    .sez1 .card {
        width: 100%;
    }
}